extends ../auth.layout.pug

block content
  section.welcome.section
    button.btn.auth-button Авторизоваться
    .auth
      .user
        .user__pic-container
          .user__pic
            +image('content/user.jpg', 'user pic', 'user__pic-img')
        .user__page-desc
          h1.user__page-name Круглов Сергей
          .user__site Личный сайт веб разработчика
      .auth__socials
        +socials([
                ['https://vk.com/cergo20152015', 'vk'],
                ['https://github.com/yralsmash', 'gh'],
                ['in', 'in']
              ])
      nav.auth__nav
        -
          var authNav = [
          ['./my-works.html', 'Мои работы'],
          ['./about.html', 'Обо мне'],
          ['./blog.html', 'Блог'],
          ]
        .auth__nav-buttons
          each item in authNav
            a(href=`${item[0]}`).btn.auth__nav-btn #{item[1]}
  .copyright.auth-copyright
    span © Круглов Сергей
    span.copyright__text Создано с любовью в VS Code | 2021