extends ../main.layout.pug

block variables
  - var title = 'Мои работы';
  - var pageName = 'Круглов Сергей';
  - var subtitle = 'Личный сайт веб разработчика';

block content
  section.my-works.section
    .my-works__container
      .triangle__container
        .triangle
          svg(viewBox="0 0 1000 185" preserveAspectRatio="none").triangle__texture
            polygon(points='0,0 0,185 1000,185 1000,175')
        .triangle
          svg(viewBox="0 0 1000 185" preserveAspectRatio="none").triangle__texture
            polygon(points='0,185 1000,185 1000,0 0,175')
      .my-works__title
        +icon('stars2', 'bg-img')
        .bg-img-title Мои работы
    .my-works__content
      .my-works__content-col.about__col--bg-white
        .my-works__content-title
          h2.subtitle Coworking
        .my-works__content-lang
          span HTML, CSS, JAVASCRIPTHTML, CSS, JAVASCRIPTHTML, CSS, JAVASCRIPT
        .my-works__button
          a(href='#').btn
            +icon('chain', 'my-works__icon-img')
            span Посмотреть сайт
      .my-works__content-col.about__col--bg-beige
        .slider
          .slider__main
            .slider__img-block
              +image('slider/sl1.png', 'slide', 'slider__img slider__img--main')
          .slider__switch
            .slider__prev
              .slider__img-block
                +image('slider/sl2.png', 'slide', 'slider__img')
              button.slider__arrow
                +icon('arrow_down', 'slider__arrow-icon')
            .slider__next
              .slider__img-block
                +image('slider/sl3.png', 'slide', 'slider__img')
              button.slider__arrow
                +icon('arrow_down', 'slider__arrow-icon slider__arrow-icon-up')
  section.feedback.section
    .page__title
      +icon('stars3', 'bg-img')
      .bg-img-title что обо мне говорят
    .feedback__content
      .feedback__block
        .feedback__img
          +image('content/feedback1.jpg', 'slide', 'feedback__img-pic')
        .feedback__text.text__block
          p.
            Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet.
        .feedback__desc
          h3.feedback__desc-title Ковальчук Дмитрий
          span - основатель Loftschool
      .feedback__block
        .feedback__img
          +image('content/feedback2.jpg', 'slide', 'feedback__img-pic')
        .feedback__text.text__block
          p.
            Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet.
        .feedback__desc
          h3.feedback__desc-title Ковальчук Дмитрий
          span - Препадователь
    .feedback__form
      form(method='POST').form
        h2.subtitle.subtitle--color-white связаться со мной
        label(for='name').form__label
          input(type="text" name="name" placeholder="Ваше имя").form__input.form__input-name
        label(for='mail').form__label
          input(type="mail" name="mail" placeholder="Ваш email").form__input.form__input-mail
        label(for='comment').form__label
          textarea(name="comment" placeholder="Ваше сообщение" rows='6').form__input.form__input-comment
        .form__buttons
          a(href='#' type="submit").btn Отправить
          a(href='#' type='reset').btn.btn-reset Очистить
    button.arrow-scroll-btn.arrow-scroll-btn-up
      +icon('arrow_down', 'arrow-scroll arrow-scroll-up')