// about-section

.about {
  display: flex;
}

.about__col {
  width: 50%;
  display: flex;
  padding: 1%;

  &--bg {
    &-white {
      background: #fff;
    }

    &-beige {
      background:$beige;
    }
  }
}

.about__title-img,
.about__user-info {
  width: 50%;
}

.about__wrapper {
  padding: 2%;
}

.about__content {
  display: flex;
  flex-direction: column;
}
