// about-section

.about {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.about__col {
  width: 50%;
  display: flex;
  padding: 1%;

  @include desktop {
    flex-direction: column;
  }

  @include tablets {
    width: 100%;
    padding: 0 7%;
  }

  @include phones {
    padding: 0;
  }

  &--bg {
    &-white {
      background: #fff;
    }

    &-beige {
      background: $beige;
    }
  }
}

.about__title-img-wrap {
  position: relative;
  width: 100%;
  min-width: 200px;
}

.about__wrapper {
  padding: 2%;

  @include tablets {
    padding: 0;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
}
