// arrow-scroll

.arrow-scroll-btn {
  position: absolute;
  left: 50%;
  top: 31.8rem;
  transform: translateX(-50%);
  z-index: 100;

  &-up {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    bottom: 4.3rem;
  }
}

.arrow-scroll-btn--blog {
  display: none;
  top: 22rem;

  @include tablets {
    display: inherit;
  }
}

.arrow-scroll {
  width: 1.5625rem;
  height: 1.5625rem;
  fill: #fff;

  &-up {
    transform: rotate(180deg);
  }

  &:hover {
    transition: 1s;
    fill: rgb(143, 138, 138);
  }
}
