// arrow-scroll

.arrow-scroll-btn {
  position: absolute;
  left: 50%;
  top: 445px;
  transform: translateX(-50%);
  z-index: 100;

  &-up {
    bottom: 16%;

    @include tablets {
      top: 500px;
    }
  }
}

.arrow-scroll-btn--blog {
  display: none;

  @include tablets {
    display: inherit;
  }
}

.arrow-scroll {
  width: 1.5625rem;
  height: 1.5625rem;
  fill:#fff;

  &-up {
    transform: rotate(180deg);
  }

  &:hover {
    transition: 1s;
    fill: rgb(143, 138, 138);
  }
}