// auth

.welcome {
  background: url(./assets/images/bg/bg-header.jpg) center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(#000, 0.3);
  padding: 2.8rem 2rem;
  position: relative;

  @include phones {
    padding: 2.8rem 1.57rem;
  }
}

.auth__nav {
  position: absolute;
  width: 100%;
  top: 92%;
}

.auth__nav-buttons {
  display: flex;
  width: 100%;
}
