// blog-section

.blog {
  display: flex;
}

.blog__menu {
  padding: 3% 0.5%;

  @include tablets {
    display: none;
  }
}

.blog__content {
  width: 85%;
  padding: 3%;
  overflow: auto;

  @include tablets {
    width: 100%;
    padding: 3%;
  }
}

.blog__item {
  margin-bottom: 3.125rem;
}

.blog__title {
  font-weight: bold;
}

.blog__text p {
  margin: 1rem 0;
}
