// blog-section

.blog {
  display: flex;
  padding-bottom: 9.375rem;

  @include tablets {
    padding-bottom: 14.187rem;
  }
}

.blog__menu {
  padding: 3% 0.5%;
  width: 30%;

  @include tablets {
    display: none;
  }
}

.blog__content {
  width: 70%;
  padding: 3%;
  overflow: auto;

  @include tablets {
    width: 100%;
    padding: 3%;
  }
}

.blog__item {
  margin-bottom: 3.125rem;
}