// btn

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  background: $blue;
  padding: 0.8rem 0.6rem;
  width: 100%;

  &:hover {
    transition: 0.5s;
    background: $dark-blue;
  }
}

.btn-reset {
  background: transparent;
  color: #ccc;

  &:hover {
    transition: 0.5s;
    background: $dark-blue;
  }
}

.auth-button {
  padding: 1rem;
  position: absolute;
  top: 2rem;
  right: 3.125rem;
  background: transparent;
  border: 2px solid #fff;
  width: auto;

  @include phones {
    padding: 0.62rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    border: 2px solid $dark-blue;
    background: $dark-blue;
  }
}

.auth__nav-btn {
  border-left: 1px solid #fff;

  &:first-child {
    border-left: none;
  }
}
