// contacts

.contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(#000, .5);

  @include phones {
    width: 100%;
    top: 0;
    transform: translate(0, 0);
    left: 0;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include tablets {
    flex-direction: column;
  }
}

.contacts__item {
  padding: 2%;
  display: flex;
  width: 50%;

  @include tablets {
    width: 100%;
  }
}

.contacts-row {
  display: flex;
  align-items: center;
}

.contacts__icon {
  padding: 0.312rem;
}

.contacts__icon-img {
  width: 2.5rem;
  height: 2.5rem;
  fill: $blue;
}