// copyright

.copyright {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $blue;
  color: #fff;
  z-index: 10;

  @include phones {
    flex-direction: column;
  }
}

.auth-copyright {
  position: relative;
  background: transparent;
  bottom: 3.12rem;
}

.copyright__text {
  &::before {
    content: '|';
    margin: 4px;

    @include tablets {
      content: '';
    }
  }
}
