/* hamburger-menu */
.hamburger {
  position: absolute;
  width: 40px;
  height: 25px;

  &:hover {
    transition: 1s;
    opacity: .65;
  }
}

.hamburger__bars {
  position: absolute;
  display: block;
  width: 40px;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #fff;

  &:before, &:after {
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    background: #fff;
  }

  &:before {
    bottom: 10px;
  }

  &:after {
    top: 10px;
  }
}