// header

.header {
  position: relative;
  background: url(./assets/images/bg/bg-header.jpg) center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 21.875rem;
}

.header__links {
  position: absolute;
  top: 19px;
  left: 20px;
}

.header__menu {
  position: absolute;
  top: 30px;
  right: 30px;
}

.header__content {
  position: relative;
  margin: 170px 0 80px;

  &--blog {
    margin: 100px 0 0;
  }
}

.header__user-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
