// my-work-section

.my-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-works__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 100%;
  width: 100%;
}

.my-works__title {
  background: rgba(#000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.my-works__content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: "left-col slider-main" 1fr "left-col slider-main" 1fr "left-col right-col" 1fr / 1fr 1fr;

  @include tablets {
    grid-template: "slider-main slider-main" 1.5fr "left-col left-col" 1fr "right-col right-col" 1fr / 1fr;
  }
}

.my-works__content-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-works__content-col--left {
  background: $white;
  grid-area: left-col;
  padding: 4% 0;
}

.my-works__content-col--right {
  grid-area: right-col;
}

.my-works__content-lang {
  text-align: center;
  padding: 5%;
  font-weight: bold;
  color: $blue;
}

.my-works__icon-img {
  width: 1.25rem;
  height: 1.25rem;
  color: #fff;
  margin-right: 0.4375rem;
}
