// navigation

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav__item {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding: 10px;
  border-right: 3px solid transparent;
  font-weight: bold;

  &:hover {
    color: $blue;
    border-right: 3px solid $blue;
  }
}