// skills

.skills-row__title {
  font-weight: bold;
  font-size: 25px;
}

.skills-row__list {
  display: flex;
  flex-wrap: wrap;
}

.skills-item {
  padding: 1%;

  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.skills-row__list {
  @include tablets {
    display: flex;
    justify-content: center;
  }
}

.skill {
  display: block;
  position: relative;
  width: 8.125rem;
  height: 8.125rem;
  margin: 0.3125rem 1.56rem 0.93rem 0;
}

.skill__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.skill__circle {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 15px;
}

.skill__circle_above {
  stroke: $blue;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}

.skill__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}