.skill {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
}

.skill__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  transform: rotate(-90deg);
}

.skill__circle {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 5px; 
}

.skill__circle_above {
  stroke: $green;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}