// socials

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.socials__item {
  margin-right: 30px;

}

.socials__link-icon {
  width: 30px;
  height: 30px;
  fill: white;

  &:hover {
    transition: .5s;
    fill: $blue;
  }
}