// socials

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socials__item {
  margin-right: 1.875rem;
}

.socials__link-icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: white;

  &:hover {
    transition: .5s;
    fill: $blue;
  }
}