// title

.title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 4.25rem;
  font-family: 'Sansus Webissimo', sans-serif;
  line-height: 1;
  margin: 4.375rem 0;

  &:hover {
    &::after {
      content: '';
      display: block;
      width: 5rem;
      height: 0.1875rem;
      border-radius: 5px;
      position: absolute;
      top: 130%;
      background: #fff;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--color-dark {
    color: $grey;

    &:hover {
      &::after {
        background: $grey;
      }
    }
  }
}

.title-img {
  fill: rgba(114, 114, 114, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  text-transform: uppercase;
  padding: 2.5rem;
  font-size: 2.187rem;
  position: relative;
  text-align: center;
  font-family: 'Sansus Webissimo', sans-serif;

  &--color-white {
    color: #fff;
  }

  &::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.1875rem;
    border-radius: 5px;
    position: absolute;
    top: 85%;
    background: $grey;
    left: 50%;
    transform: translateX(-50%);
  }
}
