// triangle

  .triangle {
    width: 50%;
    bottom: 100%;

  &__container {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    bottom: 100%;
  }
}

.triangle__texture {
  fill: rgba(#000, 0.5);
  width: 100%;
  height: 100%;

  &--fill-white {
    fill: $white;
  }
  &--fill-beige {
    fill: $beige;
  }
}
