// user

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 18.5rem;
}

.user__pic-container {
  margin-bottom: 0.62rem;
}

.user__pic {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;

  &-img {
    border-radius: 50%;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.user__page-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.user__page-name {
  font-family: 'Sansus Webissimo', sans-serif;
  font-size: 2.5rem;

  &--blog {
    font-size: 4rem;
    text-transform: uppercase;
  }
}
